.vagrant/
.idea/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
saida.txt
TODO.md
Todo.todo
*.sqlite
teste
node_modules/
cypress/fixtures
cypress/plugins
cypress/screenshots
cypress/support
cypress/integration/examples